/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 3, 2015, 10:56:48 AM
    Author     : agencydelta
*/
.transfer-login-msg{
    margin-top: 100px;
}
.cusrom-wrapper-container{
    min-height: 500px;
}
.custom-msg{
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
.success-msg{
    color: green;
}
.error-msg{
    color:red;
}
.loginwrapper{
    margin-top: 40px!important;
}
.mt-anchore{
    color: #d6d6d6;
}

.mt-anchore:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}

.custom-login{
    padding: 60px 0px 60px 0px;
    /*border: 2px solid blue;*/
    position: relative;
}